* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font: 1.5rem "Open Sans", sans-serif;
  line-height: 1.5;
}

h1 {
  text-align: center;
}

#forms {
  display: grid;
  gap: 20px;
}

fieldset {
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 0.75em;
}

fieldset > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.no-show {
  display: none;
}

.show {
  display: grid;
}